
<div class="container">
  <div  class="d-flex justify-content-between" >
     <img src="https://images.yourstory.com/cs/images/companies/04954efbe2d3-logoblue-1614760711126.jpg?fm=auto&amp;ar=1:1&amp;mode=fill&amp;fill=solid&amp;fill-color=fff&amp;w=150&amp;h=150"
          alt=""> 
          <p>The main purpose of using MERN stack is to develop apps using JavaScript only. 
            This is because the four technologies that make up the technology stack are all JS-based.
             Thus, if one knows JavaScript (and JSON), the backend, frontend,
             and database can be operated easily.
            MERN stack is a collection of technologies that enables faster application development. 
              It is used by developers worldwide. 
               There are many good reasons to use the MERN Stack. 
               For example, it allows the creation of a 3-tier architecture that includes frontend, 
               backend, and database using JavaScript and JSON. </p>
                <video width="320" height="240" controls="" autoplay="">
                  <source src="/src/assets/pexels-shvets-production-7546814.mp4" type="video/mp4">
                  <!-- <source src="video/VideoDisplay.ogg" type="video/ogg"> -->
                  <source src="/src/assets/pexels-shvets-production-7546814.mp4" type="video/ogg">
                </video>
  </div>
  </div>